img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.message {
    display: inline-flex;
    justify-content: end;
    max-width: 90vw;
}
.innerMessage{
    border-radius: 10px;
    border: solid 2px;
    border-color: aqua;
    padding: 10px;
    display: inline-flex;
}
.time{
    margin-left: 10px;
    font-size: 0.8em;
}